* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

#wrapper {
  background: red;
  padding: 10px;
  width: 400px;
}

.head {
  background: yellow;
  display: flex;
}

.head input {
  flex: 1;
}

.list {
  background: blue;
  margin-left: 20px;
}
