* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background: #121222;
}

#wrapper {
  padding: 10px;
  width: 400px;
  border-radius: 6px;
  background: white;
}

.head {
  display: flex;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #2D72CA;
}

.head input {
  flex: 1;
  border: 0px;
  padding: 6px;
  font-weight: bold;
  box-sizing: border-box;
}


.head button {
  background: #2D72CA;
  border: 2px solid #2D72CA;
  font-size: 1rem;
  color: white;
  padding: 6px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.head button:hover {
  background: white;
  color: #2D72CA;
  border: 2px solid #2D72CA;
}

.list {
  padding: 15px 10px 5px 10px;
}

.list ol {
  margin-left: 10px;
  position: relative;
  font-weight: bold;
  width: 100%;
}

.list li span {
  font-weight: bold;
  background: black;
  color: red;
  border-radius: 100%;
  padding: 2px;
  position: absolute;
  right: 0px;
  top: -10%;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
}
