* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 70vh;
  align-items: center;
  justify-content: center;
}

#wrapper {
  background: red;
  padding: 10px;
  width: 400px;
}

.head {
  background: yellow;
  display: flex;
  border-radius: 4px;
  overflow: hidden;
}

.head input {
  flex: 1;
  border: 0px;
  padding: 6px;
  font-weight: bold;
}


.head button {
  background: #2D72CA;
  border: 2px solid #2D72CA;
  /* border: 0; */
  font-size: 1rem;
  color: white;
  padding: 6px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

.head button:hover {
  background: white;
  color: #2D72CA;
  border: 2px solid #2D72CA;
}

.list {
  background: blue;
  margin-left: 20px;
}
